.add-event-button {
  z-index: 1;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  border-radius: 5rem;
  background-color: #2196f3;
  color: #fff;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
